/* GENERALS RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    line-height: 1.8rem;
}

/* /GENERALS RULES */

/* UTILITIES */
.flex {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
}

.gray {
    background-color: #f6f6f6;
}

/* /UTILITIES */

/* STYLE */

/* Header Style's */
header {
    background-image: url('../img_discord/jumbo.png');
    background-size: cover;
    background-position: center center;
}

header:first-child {
    padding-top: 25px;
}


nav>a {
    padding: 0 20px;
}

.small-button {
    font-size: 14px;
    border-radius: 40px;
    padding: 8px 17px;
    border: none;
}

.intro {
    text-align: center;
    margin: 120px auto;
    max-width: 700px;
    color: #fff;
}

h1 {
    font-size: 3rem;
}

.intro p {
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.7rem;
}

.large-button {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    margin: 30px 15px;
}

#open-browser {
    background-color: #23272a;
    color: #fff;
}

/* /Header Style's */

/* Main Style's */
#chat-groups {
    padding-top: 75px;
}

.section-title {
    font-size: 40px;
    line-height: 3rem;
    margin-bottom: 30px;
    font-weight: 800;
}

.text-box {
    max-width: 320px;
    line-height: 1.7rem;
    color: #23272a;
}

.text-box p,
.big-textbox p {
    line-height: 1.8rem;
    font-size: 19px;
    font-weight: 500;

}

.big-textbox {
    color: #23272a;
    text-align: center;
}

.bottom-title {
    text-align: center;
    color: #23272a;
    padding: 20px 0 40px 0;
    font-size: 25px;
    font-weight: 800;
    background-image: url('../img_discord/stars.svg');
    background-size: cover;
    margin: 0 auto;
}

#light-blue-button {
    background-color: #8ea1e1;
    color: #fff;

}

/* /Main Style's */

/* Footer Style's */
footer {
    background-color: #23272a;
    color: #fff;
    flex-basis: 550px;
}

#left-footer {
    width: 20%;
}

#ita-flag {
    width: 30px;
    vertical-align: middle;
}

#footer-title {
    color: #7289da;
    font-size: 30px;
    padding: 25px 0;
    line-height: 2.5rem;
    font-weight: 700;
}

#down-arrow {
    width: 10px;
    vertical-align: middle;
}

.social-icons {
    width: 25px;
    margin: 20px 10px;
}

footer span {
    vertical-align: middle;
    font-size: 14px;
}

h5 {
    color: #7289da;
    font-size: 17px;
    padding: 40px 0 10px 0;
}

.footer-list {
    flex-grow: 1;
    margin-bottom: 25px;
}

.logo-signup {
    margin-top: 35px;
}

.logo-signup button {
    color: #fff;
    background-color: #8ea1e1;
}


/* /Footer Style's */


/* /STYLE */