/* GENERALS RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
}

/* /GENERALS RULES */

/* UTILITIES */
.flex {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.gray {
    background-color: #f6f6f6;
}

/* /UTILITIES */

/* STYLE */

/* Header Style's */
header {
    background-image: url('../img_discord/jumbo.png');
    background-size: cover;
    background-position: center center;
}

header:first-child {
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: #fff;
}

nav>a {
    padding: 0 20px;
}

#accedi {
    font-size: 14px;
    border-radius: 40px;
    padding: 8px 17px;
    border: none;
}

.intro {
    text-align: center;
    margin: 120px auto;
    max-width: 700px;
    color: #fff;
}

h1 {
    font-size: 3rem;
}

.intro p {
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.7rem;
}

.large-button {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    margin: 30px 15px;
}

#open-browser {
    background-color: #23272a;
    color: #fff;
}

/* /Header Style's */

section {
    flex-basis: 650px;
}

footer {
    background-color: #23272a;
    flex-basis: 400px;
}

/* /STYLE */